! Blueish theme

! hinting
Xft.hintstyle: hintmedium
Xft.hinting: true

! xterm
xterm*faceName: DejaVu Sans Mono
xterm*faceSize: 11
xterm*rightScrollBar: true
xterm*eightBitInput: false
xterm*background: #091419
xterm*foreground: #c0d0d6
xterm*cursorColor: #F8F8F0
! black
xterm*color0: #202020
xterm*color8: #404040
! red
xterm*color1: #e63050
xterm*color9: #ff90c0
! green
xterm*color2: #76aa11
xterm*color10: #80ff00
! yellow
xterm*color3: #c4af2c
xterm*color11: #fffa68
! blue
xterm*color4: #3080ee
xterm*color12: #4f8fff
! magenta
xterm*color5: #8e50b5
xterm*color13: #cc99ff
! cyan
xterm*color6: #4599c8
xterm*color14: #4eb4fa
! white
xterm*color7: #9999aa
xterm*color15: #d0d0d0

! emacs
Emacs.font: DejaVu Sans Mono-11
